extends layout.pug
block content
  div
    h2 New Invoice
  hr
  div(class="row")
    div(class="col-sm-12" id="existing")
      div(class="panel panel-default")
        div(class="panel-heading")
          h4(class="panel-title") Shopping Cart
        div(class="panel-body" style="padding:0;")
          ul(class="list-group" id="existing" style="margin:0;")
  hr
  div(class="row")
    div(class="col-sm-12")
      div(class="panel panel-default")
        div(class="panel-heading")
          h4(class="panel-title") Add Product
        div(class="panel-body" style="padding:0;")
          ul(class="list-group" id="new" style="margin:0;")
  hr
  div(class="row")
    div(class="col-sm-12 text-center")
      div(class="form-group")
        button(class="btn btn-lg btn-primary") Finalize
      div(class="form-group")
        a(id="cancel" href="./index.pug") Cancel This Transaction
  script
    include ../js/invoice.js
