extends layout.pug
block content
  hr(class="spacer")
  div(class="row")
    div(class="col-xs-12 text-right")
      a(class="navlink" href="./index.pug") Back To Home
  hr(class="spacer")
  div(class="row")
    div(class="col-sm-12")
      ul(class="list-group" id="products")
  script
    include ../js/products.js
