extends layout.pug
block content
  div
    h2 New Product
  hr
  div
    div(class="form-group")
      label Name
      input(class="form-control" id="name" placeholder="Bill Payment")
    div(class="form-group")
      label Type
      select(class="form-control" id="type")
        option(value="credit") Credit (checks, etc.)
        option(value="debit") Debit (payments, money gram, etc.)
    div(class="form-group")
      label Fixed Fee
      div(class="input-group")
        span(class="input-group-addon") $
        input(class="form-control" id="fixed_fee" placeholder="5.00")
    div(class="form-group")
      label Percent Fee
      div(class="input-group")
        span(class="input-group-addon") %
        input(class="form-control" id="percent_fee" placeholder="1.4")
    div(class="form-group")
      label Minimum Flat Fee
      div(class="input-group")
        span(class="input-group-addon") $
        input(class="form-control" id="minimum_fee" placeholder="3")
    div(class="form-group text-center")
      a(class="btn btn-default" href="./index.pug" id="cancel") Cancel
      button(class="btn btn-primary" id="save") Save
  script
    include ../js/product.js
